body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: white;
}

h1 {
  color: #1e7742;
  text-align: center;
}

div.navbar {
  overflow: hidden;
  background-color: white;
}

div.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

div.navbar a.right {
  float: right;
}

div.navbar a:hover {
  background-color: white;
  color: white;
}
