div.search-bar {
  display: flex;
  justify-content: center;
  height: 25px;
  width: 50%;
  margin: 0 auto;
}

input[type="text"]{
  width: 70%;
  max-width: 250px;
}


input.search-submit {
  background-image: url(https://cdn2.iconfinder.com/data/icons/simple-microphone-icon/512/Search_Icon-512.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin: 0px 8px;
  width: 20px;
}

div.nav {
  height: 10%;
  margin: 0 90px;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  display: flex;
}

li {
list-style-type: none;
width: 20%;
}

img {
  border-radius: 50%;
  width: 50%;
  height: auto;
  display: block;
  margin: 10px auto;
  }
