div.search-bar {
  display: flex;
  justify-content: center;
  height: 20px;
}

input.search-submit {
  background-image: url(https://cdn2.iconfinder.com/data/icons/simple-microphone-icon/512/Search_Icon-512.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin: 0px 8px;
  width: 20px;
}

div.nav {
  height: 10%
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  display: flex;
}

li {
list-style-type: none;
}

img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  }
